@charset "utf-8";

    /* 기본 설정 사항 */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-family: 'Nanum Gothic', sans-serif;
      }
      img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
      .container{
        width:90%;
      }
  
 /* 헤더부분 시작 */
  /* header */
  .header{
    margin-bottom:30px;
    margin-top:20px;
  }
  #logo {
      width: 140px;
      height: 84px;
  }

  /* 아마 햄버거는 여기부터 */
  #sidebtn {
      height: 50px;
  }


  .navar-up {
      margin-top: 30px;
      right: 5%;
  }

  #offcanvasNavbarLabel {
      font-size: 34px;
  }

  .signBox {
      height: 200px;
      text-align: center;
  }

  .signBox div a {
      color: gray;
      width: 50%;
      height: 100%;
      text-decoration: none;
  }
  .form-control{
    width:80%;
  }
  #topSearch{
    width:80%;
    height:40px;
    padding-left:20px;
    border-radius: 10px;
    background-color: white;
    border:1px solid gray;
    transition:all 0.3s;
    margin-right:10px;
  }
  #topSearch:hover{
    border:1px solid #e8f3ff;
  }
  #topSearchBtn{
    width:37px;
    height:37px;
    border-radius: 5px;
    background-color: white;
    border:1px solid gray;
    transition: all 0.3s;
  }
  #topSearchBtn:hover{
    border-radius: 15px;
  }
  /* 로그인 */
  .signInput input {
      margin-top: 12px;
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #b6fcd5;
      padding-left: 10px;
      box-shadow: 2px 2px 1px 1px #e0e0e0;
  }

  .signBtns {
      width: 120px;
      height: 40px;
      margin-top: 15px;
      border: none;
      font-weight: bold;
      border-radius: 5px;
      background-color: #b6fcd5;
      box-shadow: 1px 2px 3px 1px #e0e0e0;
      transition: all 0.5s;
  }

  .signBtns:hover {
      border: 1px solid #b6fcd5;
      box-shadow: none;
  }

  .logOut{
    width:80px;
    height:40px;
    background-color:lavender;
    border-radius: 5px;
    border:none;
  }
  /* 예약 후기 찜목록 버튼 */
  .loginAccBannerH{
    height:90px;
    width:100%;
  }
  .loginAccBanner{
    width:80px;
    height:40px;
    display:inline-block;
    background-color:#edffeb;
    border-radius: 3px;
    margin:1px;
    border:none;
    box-shadow: 1px 1px 2px 2px #eaeef1;
    margin-top:15px;
    transition: all 0.3s;
  }
  .loginAccBanner:hover{
    opacity: 0.8;
  }

  /* 관리자 이동 버튼 */
  #adminBtn{
    width:100%;
    height:50px;
    background-color: honeydew;
    border-radius: 5px;
    border:1px solid gray;
    transition: all 0.3s;
  }
  #adminBtn:hover{
    opacity: 0.8;
    box-shadow: 1px 1px 2px 2px rgb(224, 224, 224);
  }

  /* 로그인 밑 이벤트배너 */
  .sideBanner {
      font-weight: bold;
      width: 100%;
      height: 50px;
      font-size: 18px;
      background-color: #c6e2ff;
      border-radius: 5px;
      color: #323232;
      border: none;
      transition: all 1s;
      box-shadow: 1px 2px 3px 1px #e0e0e0;
      text-shadow: 1px 1px 3px white;
      text-align: left;
      padding-left: 10px;
      margin-bottom: 7px;
  }
  .sideBanner:hover {
      opacity: 0.8;
  }


  /* 로그인 후 바뀔 css */
  #loginAcc {
      width: 100%;
      height: 250px;
      margin-bottom:10px;
  }

  .loginAcc {
      margin: auto;
      width: 150px;
      height: 150px;
      background-image: url(/semi-img/face.jpg);
      background-size: cover;
      border-radius: 50%;
  }

  .loginMent {
    text-align: center;
    margin-top: 10px;
    font-size:16;
    font-weight: bold;
    color:rgb(114, 114, 114);
}



  /* 모든 사이드바에 빠른예약 기능 추가 */
  /* 호텔id값 빼오는 입력안 */
  #sideHotelId{
    display:none;
  }
  #revRoomType{
    display:none;
  }
  .sidetxt{
    text-align: center;
  }
  #sideHotelSelect{
    width:100%;
    height:40px;
    font-size:18px;
    border-radius: 5px;
    margin-bottom:10px;
  }
  .sideRoomTypeBox{
    margin-top:10px;
  }
  #sideRoomTypeBox{
    width:180px;
    height:30px;
  }
  #sideReserveBtn{
    margin-top:10px;
    width:100%;
    height:40px;
    background-color:white;
    font-size:18px;
    line-height: 40px;
    border:solid 1px gray;
    border-radius: 3px;
    transition:all 0.3s;
    margin-top:20px;
  }
  #sideReserveBtn:hover{
    background-color: whitesmoke;
  }
  #speedRevMargin{
    margin-top:15px;
    margin-bottom:20px;
  }
  .sideCBackBox{
    position:relative;
  }
  .sideCBack{
    position:absolute;
    text-align: center;
    width:100%;
    height:50px;
    margin-top:100px;
    line-height: 50px;
    background-color: rgb(51, 51, 51);
    opacity: 0.7;
    z-index: 9998;
    color: white;
    font-size:32px;
    cursor:default;
  }
  #sideC{
    margin-bottom:20px;
  }
  .sideFontS{
    font-size:11px;
    font-weight: bold;
    color:gray;
  }


  /* 로그인사이드바 끝 */
      
  
      /* 위 배너 */
      #banner{
        width:100%;
        height:60px;
      }
      .bannerIn{
        width:20%;
        height:100%;
        background-color:#C6E2FF;
        border-radius: 5px;
        border:1px solid white;
        transition:all 0.5s;
        box-shadow: 1px 1px 3px 1px #e0e0e0;
      }
      .bannerIn p{
        color:	#4f5a66;
        font-weight:bold;
        font-size:18px;
        text-align: center;
        line-height:60px;
        transition:all 0.5s;
      }
      .bannerIn a {
        text-decoration: none;
      }
      .bannerIn:hover{
        border:1px solid gray;
        cursor: pointer;
        background-color: #0a75ad;
      }
      .bannerIn:hover p{
        color:white;
      }

      /* 배너 밑 검색박스 */
      #searchOption{
        width: 70px;
        height:43px;
        margin-left:10px;
        margin-top:3px;
        border-radius: 3px;
        transition: all 0.3s;
      }
      #searchOption:hover{
        cursor:pointer;
        border:1px solid blue;
      }

      .bannerSearch{
        margin-top:20px;
        margin-bottom:30px;
      }

      .detailSearch{
        width:100%;
        padding-left:15px;
        height:45px;
        border-radius: 5px;
        border:2px solid #0a75ad;
      }

      /* 보드 전체 */
      .middle{
        text-align: center;
        transition: all 0.1s;
        width:100%;
        height:30px;
        padding:0;
        margin:0;
        line-height: 30px;
      }
      .middle:hover{
        background-color: rgb(248, 248, 248);
      }

      .title{text-align: left;}
      .titles{text-align: center;}
      /* 중간라인 좁히기 */
      .bannerHr{
        margin:0;
        padding:0;
      }
      .postTitles{
        text-decoration: none;
        color:rgb(100, 100, 100);
      }
      .postTitles:hover{
        border-bottom:1px solid gray;
        color:rgb(100, 100, 100);
      }

      /* 글쓰기버튼 옆으로 밀기 */
      .searchBtnBar{
        margin-right: 50px;
      }

      .detailSearchBtn{
        width:75px;
        height:45px;
        border-radius: 5px;
        background-color: #ffffff;
        border:1px solid rgb(212, 212, 212);
        box-shadow: 1px 1px 2px 1px rgb(243, 243, 243);
        color:#333333;
        font-weight: bold;
        font-size:17px;
        transition:all 0.3s;
      }

      .detailSearchBtn:hover{
        box-shadow: 1px 1px 1px 1px rgb(212, 212, 212);
      }


      /* 리스트 콘텐츠 시작 */

      .detailBox{
        width:90%;
        height:320px;
        background-color:white;
        margin:0 auto;
        border-radius: 5px;
        margin-bottom:10px;
        border:1px solid rgb(201, 201, 201);
        transition: all 0.3s;
      }
      .detailBox:hover{
        background-color:rgb(251, 253, 255);
        box-shadow: 1px 1px 3px 1px rgb(247, 247, 247);
      }


      /* 더보기 버튼 */
      #readMore{
        width:70px;
        height:35px;
        border:none;
        margin:auto;
        color:rgb(90, 90, 90);
        border-radius: 5px;
        background-color: white;
        transition: all 0.3s;
        margin-top:10px;
      }
      #readMore:hover{
        background-color:whitesmoke;
      }


      /* 푸터 시작 */
    #footerIn {
      margin: auto;
    }

    /* 푸터 placeholder 로고 */
    .fot_logo {
      margin: 20px;
      margin-left: 50px;
      width: 140px;
      height: 84px;
      background-image: url(/semi-img/logos.png);
      display: block;
      background-size: cover;
      top: 50px;
    }

    /* place로고 오른쪽 블로그 글씨들 */
    .foot-ul-blog li {
      float: left;
      margin: 5px;
      margin-top: 30px;
    }

    .foot-ul-blog li a {
      text-decoration: none;
      color: #666666;
      font-weight: 700;
      font-size: 14px;
    }
    .foot-ul-blog li a:hover{
      color: #333333;
    }

    /* 푸터 로고들 */
    .foot-logos>li {
      float: left;
      margin: 3px;
    }
    .foot-logos>li a{transition:all 0.3s}
    .foot-logos>li a:hover{
      opacity: 0.9;
    }

    .nblog {
      width: 30px;
      height: 30px;
      background-image: url(/semi-img/nblog.png);
      background-size: cover;
      display: block;
    }

    .twitter {
      width: 30px;
      height: 30px;
      background-image: url(/semi-img/twitter.png);
      background-size: cover;
      display: block;
    }

    .instargram {
      width: 30px;
      height: 30px;
      background-image: url(/semi-img/instargram.png);
      background-size: cover;
      display: block;
    }

    .facebook {
      width: 30px;
      height: 30px;
      background-image: url(/semi-img/facebook.png);
      background-size: cover;
      display: block;
    }

    /* 푸터 상호명등 */
    .foot-sangho li {
      font-size: 13px;
      color: #696969;
    }

    .foot-sangho-a {
      text-decoration: none;
      font-weight: 700;
      color: #545454;
    }

    /* 푸터 Copyright */
    .foot_caution {
      font-size: 9px;
    }

    .bottomHr{
      margin:10px;
    }

    @media screen and (max-width: 1200px){

      .detailBox{
        width:100%;
        height:270px;
        position:relative;
      }
      
      .resBtn{
        position:absolute;
        top:100px;
        right:0px;
      }
      .detailSearch{
        margin-left:50px;
        width:400px;
      }
    }

@media screen and (max-width: 1000px) {
  .detailSearch{
    margin-left:50px;
    width:320px;
  }
  .date{
    display:none;
  }
}

@media screen and (max-width: 800px) { /* 모바일 전용 */
    .bannerIn{
      width:100%;
    }
    .bannerSearch{
      margin-top:250px;
    }
    .searchInput {
      width:100%;
    }

    .detailBox{
      width:100%;
    }
    @media screen and (max-width: 758px) {
      #topSearch{
        margin-left:50px;
        width:160px;
      }
      .detailSearch{
        width:230px;
      }
      .container{
        width:758px;
      }
    }
    @media screen and (max-width: 576px) {
      .container{
        width:406px;
      }
      .detailSearch{
        width:200px;
      }
      .throwE{display:none;}
      .navbar-toggler{
        margin-left:200px;
      }
    }
    


}