@charset "utf-8";
#foothead{
	text-align:center;
	margin:auto;
	font-size:48px;
}

#footbody{
	text-align:left;
	font-size:14px;
	padding-left:8px;
	width:60%;
	margin:auto;
	border:1px solid gray;
	padding:10px;
}