@charset "utf-8";

  /* 기본 설정 사항 */
  html{
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Nanum Gothic', sans-serif;
  }

  img{
    width:100%;
    height:100%;
  }
  .container{
    width:90%;
  }

  /* 헤더부분 시작 */
  /* header */
  .header{
    margin-bottom:30px;
    margin-top:20px;
  }
  #logo {
      width: 140px;
      height: 84px;
  }

  /* 아마 햄버거는 여기부터 */
  #sidebtn {
      height: 50px;
  }


  .navar-up {
      margin-top: 30px;
      right: 5%;
  }

  #offcanvasNavbarLabel {
      font-size: 34px;
  }

  .signBox {
      height: 200px;
      text-align: center;
  }

  .signBox div a {
      color: gray;
      width: 50%;
      height: 100%;
      text-decoration: none;
  }
  .form-control{
    width:80%;
  }
  #topSearch{
    width:80%;
    height:40px;
    padding-left:20px;
    border-radius: 10px;
    background-color: white;
    border:1px solid gray;
    transition:all 0.3s;
    margin-right:10px;
  }
  #topSearch:hover{
    border:1px solid #e8f3ff;
  }
  #topSearchBtn{
    width:37px;
    height:37px;
    border-radius: 5px;
    background-color: white;
    border:1px solid gray;
    transition: all 0.3s;
  }
  #topSearchBtn:hover{
    border-radius: 15px;
  }
  /* 로그인 */
  .signInput input {
      margin-top: 12px;
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #b6fcd5;
      padding-left: 10px;
      box-shadow: 2px 2px 1px 1px #e0e0e0;
  }

  .signBtns {
      width: 120px;
      height: 40px;
      margin-top: 15px;
      border: none;
      font-weight: bold;
      border-radius: 5px;
      background-color: #b6fcd5;
      box-shadow: 1px 2px 3px 1px #e0e0e0;
      transition: all 0.5s;
  }

  .signBtns:hover {
      border: 1px solid #b6fcd5;
      box-shadow: none;
  }

  .logOut{
    width:80px;
    height:40px;
    background-color:lavender;
    border-radius: 5px;
    border:none;
  }
  /* 예약 후기 찜목록 버튼 */
  .loginAccBannerH{
    height:90px;
    width:100%;
  }
  .loginAccBanner{
    width:80px;
    height:40px;
    display:inline-block;
    background-color:#edffeb;
    border-radius: 3px;
    margin:1px;
    border:none;
    box-shadow: 1px 1px 2px 2px #eaeef1;
    margin-top:15px;
    transition: all 0.3s;
  }
  .loginAccBanner:hover{
    opacity: 0.8;
  }

  /* 관리자 이동 버튼 */
  #adminBtn{
    width:100%;
    height:50px;
    background-color: honeydew;
    border-radius: 5px;
    border:1px solid gray;
    transition: all 0.3s;
  }
  #adminBtn:hover{
    opacity: 0.8;
    box-shadow: 1px 1px 2px 2px rgb(224, 224, 224);
  }

  /* 로그인 밑 이벤트배너 */
  .sideBanner {
      font-weight: bold;
      width: 100%;
      height: 50px;
      font-size: 18px;
      background-color: #c6e2ff;
      border-radius: 5px;
      color: #323232;
      border: none;
      transition: all 1s;
      box-shadow: 1px 2px 3px 1px #e0e0e0;
      text-shadow: 1px 1px 3px white;
      text-align: left;
      padding-left: 10px;
      margin-bottom: 7px;
  }
  .sideBanner:hover {
      opacity: 0.8;
  }


  /* 로그인 후 바뀔 css */
  #loginAcc {
      width: 100%;
      height: 250px;
      margin-bottom:10px;
  }

  .loginAcc {
      margin: auto;
      width: 150px;
      height: 150px;
      background-image: url(/semi-img/face.jpg);
      background-size: cover;
      border-radius: 50%;
  }

  .loginMent {
    text-align: center;
    margin-top: 10px;
    font-size:16;
    font-weight: bold;
    color:rgb(114, 114, 114);
}



  /* 모든 사이드바에 빠른예약 기능 추가 */
  /* 호텔id값 빼오는 입력안 */
  #sideHotelId{
    display:none;
  }
  #revRoomType{
    display:none;
  }
  .sidetxt{
    text-align: center;
  }
  #sideHotelSelect{
    width:100%;
    height:40px;
    font-size:18px;
    border-radius: 5px;
    margin-bottom:10px;
  }
  .sideRoomTypeBox{
    margin-top:10px;
  }
  #sideRoomTypeBox{
    width:180px;
    height:30px;
  }
  #sideReserveBtn{
    margin-top:10px;
    width:100%;
    height:40px;
    background-color:white;
    font-size:18px;
    line-height: 40px;
    border:solid 1px gray;
    border-radius: 3px;
    transition:all 0.3s;
    margin-top:20px;
  }
  #sideReserveBtn:hover{
    background-color: whitesmoke;
  }
  #speedRevMargin{
    margin-top:15px;
    margin-bottom:20px;
  }
  .sideCBackBox{
    position:relative;
  }
  .sideCBack{
    position:absolute;
    text-align: center;
    width:100%;
    height:50px;
    margin-top:100px;
    line-height: 50px;
    background-color: rgb(51, 51, 51);
    opacity: 0.7;
    z-index: 9998;
    color: white;
    font-size:32px;
    cursor:default;
  }
  #sideC{
    margin-bottom:20px;
  }
  .sideFontS{
    font-size:11px;
    font-weight: bold;
    color:gray;
  }

  /* 로그인사이드바 끝 */



  /* 위 배너 */
  #banner{
    width:100%;
    height:60px;
    margin-bottom:20px;
  }
  .bannerIn{
    width:20%;
    height:100%;
    background-color:#C6E2FF;
    border-radius: 5px;
    border:1px solid white;
    transition:all 0.3s;
    box-shadow: 1px 1px 3px 1px #e0e0e0;
  }
  .bannerIn p{
    color:	#4f5a66;
    font-weight:bold;
    font-size:18px;
    text-align: center;
    line-height:60px;
    transition:all 0.5s;
  }
  .bannerIn:hover{
    border:1px solid #C6E2FF;
    opacity: 0.9;
    cursor: pointer;
  }

  /* 호텔설명칸 */
  .mainPhoto{
    width:500px;
    height:400px;
    padding:0;
  }
  .mainInfo{
    width: 690px;
    height:410px;
    margin-left:50px;
    background-color: #fefeff;
    border-radius: 5px;
    padding-top:30px;
    padding-left: 30px;
  }

  .hotelName{
    font-size:20px;
    font-weight: bold;
    float:left;
    margin-top:20px;
  }

  /* 별점 */
  .star img{
    width:30px;
    height:30px;
    margin-top:18px;
    margin-left:30px;
    margin-right:10px;
    float:left;
  }

  .star img+p{
    font-size:20px;
    padding-top:20px;
    float:left;
  }

  /* 좋아요 */
  #heart{
    width:20px;
    height:20px;
    float:left;
    margin-top:3px;
    margin-right:25px;
    margin-left:5px;
    transition:all 0.5s;
    cursor:pointer;
  }
  #heart:hover{
    cursor:pointer;
    opacity: 0.8;
  }

  /* 공유 */
  #share{
    width:30px;
    height:30px;
    float:left;
    margin-top:20px;
    margin-left:30px;
    background-image:url(/semi-img/share.png);
    background-size:cover;
    transition:all 0.3s;
  }
  #share:hover{
    opacity: 0.9;
    cursor:pointer;
  }
  #shareUrl{opacity: 0;}

  /* 설명 안 옵션칸 */
  .options span{
    font-size:18px;
    margin:5px;
  }

  .options select{
    width:400px;
    height:30px;
    border:none;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:20px;
    transition:all 0.3s;
    background-color:white;
    padding-left:10px;
    box-shadow: 1px 1px 1px 3px #f3f3f3;
  }

  .options select:hover{
    background-color:#fffbf7;
    cursor:pointer;
  }

  .reservationGo{
    width:80px;
    height:34px;
    border-radius: 4px;
    border:1px solid #f3fff2;
    transition:all 0.5s;
    background-color:#fff8ef;
    margin-top:20px;
    margin-left:50px;
    box-shadow: 1px 1px 2px 1px #e6e6e6;
  }

  .reservationGo:hover{
    background-color:#485fe2;
    color:white;
  }

  /* 배너에 해당하는 목록등. */

  .bannerCutLine{
    width:94%;
    background-color: black;
  }

  /* 상세 설명 */

  /* 호텔 방 이미지 크기 조정 */
  #roomImgs{
    object-fit:cover;
    width:280px;
    height:180px;
  }
  .throwRun{display:none;}
  .detail{
    width:95%;
    margin-bottom:30px;
  }

  .roomInfoBox{
    border:1px solid rgb(187, 187, 187);
    border-radius: 2px;
    width:100%;
    height:200px;
    padding:10px;
    margin-top:15px;
  }

  .roomInfo p:first-child{
    font-size:18px;
    border-bottom: 1px solid gray;
  }

  .roomDateEnd{
    margin-top:10px;
  }
  /* 최종 예약 버튼 */
  .roomSubmit{
    margin-left:20px;
    width:80px;
    height:30px;
    margin-top:20px;
    border:none;
    background-color: rgb(130, 142, 255);
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgb(226, 226, 226);
    transition: all 0.3s;
    color:white;
  }
  .roomSubmit:hover{
    opacity: 0.8;
  }

  /* 정보 */
  .hotelInfo{
    padding:5px;
    padding-right:20px;
    width:95%;
    height:450px;
    overflow: auto;
    border-right: 2px solid rgb(199, 199, 199);
  }
  .hotelInfo>p{
    font-weight: bold;
    color:gray;
  }
  .hotelinfoName{
    margin-bottom:5px;
  }
  .hotelInfoss{
    font-size: 16px;
    color:rgb(99, 99, 99);
    font-weight: 700;
  }
  .hotelInfossBr{
    padding-top:21px;
  }

  /* 고객센터 버튼 */
  #inquiry{
    width:170px;
    height:30px;
    border:1px solid rgb(189, 189, 189);
    background-color: white;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 5px;
    transition: all 0.3s;
  }
  #inquiry:hover{
    box-shadow: 1px 1px 2px 2px rgb(236, 236, 236);
  }

  /* 카카오 지도 */
  #map{
    width: 500px;
    height: 320px;
  }
  #infoWin{
    padding:5px;
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    font-size:16px;
    border:1px solid rgb(179, 179, 179);
    opacity: 0.9;
    border-radius: 5px;
  }
  #infoWin a{
    text-decoration: none;
    font-size:14px;
    color:rgb(226, 233, 166);
  }

  /* 슬라이드 */
  .moreHotels{
    margin-top:45px;
  }

  .slideBox{
    width:1220px;
    height:500px;
    position:relative;
  }
  .slick-prev{
    width:30px;
    height:30px;
    position:absolute;
    bottom:0px;
    right:540px;
    border:none;
    background-color: rgb(255, 254, 254);
    border-radius: 3px;
    transition: all 0.2s;
  }
  .slick-next{
    width:30px;
    height:30px;
    position:absolute;
    bottom:0px;
    left:540px;
    border:none;
    background-color: rgb(255, 254, 254);
    border-radius: 10px;
    transition: all 0.2s;
  }
  .slick-prev:hover, .slick-next:hover{
    background-color:rgb(233, 228, 221);
  }

  /* 슬라이드 카드 */
  .card{
    margin-left: 5px;
    overflow: auto;
  }

  #cardImgBox{
    width:100%;
    height:200px;
    object-fit: cover;
  }

  #card-body{
    height:300px;
    width:200px;
    overflow: auto;
  }

  .card-text{
    height:100px;
    overflow: auto;
  }
  .card-img-top{
    width:100%;
    height:150px;
  }
  .slick-center{
    width:100%;
    height:150px;
  }

  .cardbtn{
    width:80px;
    display:inline-block;
    height:30px;
    background-color: white;
    text-decoration: none;
    color:black;
    border-radius: 4px;
    border:1px solid gray;
    text-align: center;
    line-height:30px;
    transition: all 0.3s;
  }
  .cardbtn:hover{
    background-color: rgb(103, 79, 238);
    color:white;
  }









  /* 푸터 시작 */
  #footerIn {
    margin: auto;
  }

  /* 푸터 placeholder 로고 */
  .fot_logo {
    margin: 20px;
    margin-left: 50px;
    width: 140px;
    height: 84px;
    background-image: url(/semi-img/logos.png);
    display: block;
    background-size: cover;
    top: 50px;
  }

  /* place로고 오른쪽 블로그 글씨들 */
  .foot-ul-blog li {
    float: left;
    margin: 5px;
    margin-top: 30px;
  }

  .foot-ul-blog li a {
    text-decoration: none;
    color: #666666;
    font-weight: 700;
    font-size: 14px;
  }
  .foot-ul-blog li a:hover{
    color: #333333;
  }

  /* 푸터 로고들 */
  .foot-logos>li {
    float: left;
    margin: 3px;
  }
  .foot-logos>li a:hover{
    opacity: 0.9;
  }

  .nblog {
    width: 30px;
    height: 30px;
    background-image: url(/semi-img/nblog.png);
    background-size: cover;
    display: block;
  }

  .twitter {
    width: 30px;
    height: 30px;
    background-image: url(/semi-img/twitter.png);
    background-size: cover;
    display: block;
  }

  .instargram {
    width: 30px;
    height: 30px;
    background-image: url(/semi-img/instargram.png);
    background-size: cover;
    display: block;
  }

  .facebook {
    width: 30px;
    height: 30px;
    background-image: url(/semi-img/facebook.png);
    background-size: cover;
    display: block;
  }

  /* 푸터 상호명등 */
  .foot-sangho li {
    font-size: 13px;
    color: #696969;
  }

  .foot-sangho-a {
    text-decoration: none;
    font-weight: 700;
    color: #545454;
  }

  /* 푸터 Copyright */
  .foot_caution {
    font-size: 9px;
  }







  @media screen and (max-width: 1400px){
    /* 호텔설명칸 */
  .mainPhoto{
    width:400px;
    height:300px;
    padding:0;
  }
  .mainInfo{
    width: 600px;
    height:320px;
    margin-left:40px;
  }

  .hotelName{
    font-size:18px;
    font-weight: bold;
    float:left;
    margin-top:20px;
  }
  .reservationGo{
    margin-top:0;
  }
  .middleBanner{
    width:300px;
  }
  .stickyBanner{
    width:1050px;
  }
  .roomInfoBox{
    width:100%;
    height:450px;
  }

  }


  @media screen and (max-width: 1200px){
    .mainPhoto{
      width:350px;
      height:300px;
      padding:0;
    }

    .mainInfo{
      width:510px;
      height:350px;
      margin-left:40px;
      border-radius: 5px;
      padding-top:30px;
      padding-left: 30px;
    }
  
    .options select{
      width:300px;
      margin-bottom:5px;
    }
  
    .reservationGo{
      margin-top:5px;
    }
    .middleBanner{
      width:150px;
    }
    .stickyBanner{
      width:900px;
    }
    .card{
      width:200px;
    }

    .slick-prev{
      bottom:40px;
      right:440px;

    }
    .slick-next{
      bottom:40px;
      left:440px;
    }
  }

  @media screen and (max-width: 1000px){
    .mainPhoto{
      margin:auto;
    }
    .mainInfo{
      margin:auto;
    }
    .stickyBanner{
      width:660px;
    }
    .slick-prev{
      bottom:40px;
      right:280px;

    }
    .slick-next{
      bottom:40px;
      left:280px;
    }
    .roomInfoBox{
      height:450px;
    }
    #map{
      width: 360px;
      height: 270px;
    }
  }

  @media screen and (max-width: 768px){
    .bannerIn{
      width:100%;
    }
    .mainPhoto{
      margin-top: 260px;
    }
    .stickyBanner{
      width:100%;
    }
    .slick-prev{
      bottom:40px;
      right:220px;

    }
    .slick-next{
      bottom:40px;
      left:220px;
    }

    .bannerIn>p{
      font-size:18px;
    }
    #topSearch{
      width:70%;
      margin-left:20px;
    }
    .roomInfoBox{width:500px;}
    .roomInfo{
      font-size:14px;
    }
    .roomDate{
      font-size: 14px;
      width:270px;
    }
    .bannerIn{
      display: block;
    }
    #map{
      width: 260px;
      height: 210px;
    }
  }
  @media screen and (max-width: 580px){
    .slick-prev{
      bottom:20px;
      right:180px;

    }
    .slick-next{
      bottom:20px;
      left:180px;
    }
  }

  @media screen and (max-width: 558px){
    #topSearch{
      width:60%;
      margin-left:40px;
    }
    #share{display:none;}
    .mainInfo{
      height:400px;
    }
    .slick-prev{
      bottom:30px;
      right:160px;

    }
    .slick-next{
      bottom:30px;
      left:160px;
    }
  }

