@charset "utf-8";

 /* header */
 #head {
    height: 150px;
    line-height: 50px;
    margin-top: 50px;
}

#logo {
    width: 70%;
    height: 90%;
}

#sidebtn {
    height: 50px;
}


.navar-up {
    margin-top: 30px;
    right: 5%;
}

#offcanvasNavbarLabel {
    font-size: 34px;
}

.signBox {
    height: 200px;
    text-align: center;
}

.signBox div a {
    color: gray;
    width: 50%;
    height: 100%;
    text-decoration: none;
}

/* 로그인 */
.signInput input {
    margin-top: 12px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #b6fcd5;
    padding-left: 10px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
}

.signBtns {
    width: 120px;
    height: 40px;
    margin-top: 15px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #b6fcd5;
    box-shadow: 1px 2px 3px 1px #e0e0e0;
    transition: all 0.5s;
}

.signBtns:hover {
    border: 1px solid #b6fcd5;
    box-shadow: none;
}

/* 로그인 밑 이벤트배너 */
.sideBanner {
    font-weight: bold;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #c6e2ff;
    border-radius: 5px;
    color: #323232;
    border: none;
    transition: all 1s;
    box-shadow: 1px 2px 3px 1px #e0e0e0;
    text-shadow: 1px 1px 3px white;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 7px;
}

.sideBanner:hover {
    opacity: 0.8;
}


/* 로그인 후 바뀔 css */
#loginAcc {
    width: 100%;
    height: 200px;
}

.loginAcc {
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url(/image/face.jpg);
    background-size: cover;
    border-radius: 50%;
}

.loginMent {
    text-align: center;
    margin-top: 10px;
}


/* nav1 */
.nav1 {
    float: left;
    text-align: center;
    width: 25%;
    height: 50px;
}

#nav-1 {
    padding: 5px;
    width: 100%;
    height: 100%;
}

/* nav2 */
.nav2 {
    float: left;
    text-align: center;
    width: 20%;
    height: 50px;
    margin-top: 10px;
}

#nav-2 {
    width: 80%;
    height: 90%;
}

/* Main-Carousel */

.carousel-inner>.carousel-item>img {
    height: 500px;
}

/* 투데이 핫 */
#today {
    text-align: center;
}

#cardc {
    width: 100%;
    height: 100%;
}

#cardlist1{
    width:285px; height:300px;
    background-image: url("/semi-img/카드캐러셀1.jpg");
    background-size: 100% 100%;
    transition: all 0.5s;
}

#cardlist1:hover{
    background-size: 105% 105%;
}

#cardlist2{
    width:285px; height:300px;
    background-image: url("/semi-img/카드캐러셀2.jpg");
    background-size: 100% 100%;
    transition: all 0.5s;
}

#cardlist2:hover{
    background-size: 105% 105%;
}

#cardlist3{
    width:285px; height:300px;
    background-image: url("/semi-img/카드캐러셀3.jpg");
    background-size: 100% 100%;
    transition: all 0.5s;
}

#cardlist3:hover{
    background-size: 105% 105%;
}

#cardlist4{
    width:285px; height:300px;
    background-image: url("/semi-img/카드캐러셀4.jpg");
    background-size: 100% 100%;
    transition: all 0.5s;
}

#cardlist4:hover{
    background-size: 105% 105%;
}

#cardlist5{
    width:285px; height:300px;
    background-image: url("/semi-img/카드캐러셀5.jpg");
    background-size: 100% 100%;
    transition: all 0.5s;
}

#cardlist5:hover{
    background-size: 105% 105%;
}

#cardlist6{
    width:285px; height:300px;
    background-image: url("/semi-img/카드캐러셀6.jpg");
    background-size: 100% 100%;
    transition: all 0.5s;
}

#cardlist6:hover{
    background-size: 105% 105%;
}

/* 리뷰 존 */
#review {
    text-align: center;
}

.card-img{
    width:414px; height:207px;            
    background-size: 100% 100%;
    transition: all 0.5s;          
}
.card-img:hover{
    background-size: 105%;
}
#card-img-1{
    background-image: url("/semi-img/카드1.jpg");
    
}

#card-img-2{
    background-image: url("/semi-img/카드2.jpg");
    
}

#card-img-3{
    background-image: url("/semi-img/카드3.jpg");
    
}

#card-img-4{
    background-image: url("/semi-img/카드4.jpg");
    transition-duration: 5s;
}

#card-img-5{
    background-image: url("/semi-img/카드5.jpg");
    transition-duration: 5s;
}

#card-img-6{
    background-image: url("/semi-img/카드6.jpg");
    transition: all 0.5s;
}



/* 추가 버튼 */
.plus {
    text-align: center;
}

/* footer 시작 */
.footBack {
background-color: #F0F8FF;
}

#footerIn {
margin: auto;
}

/* 푸터 placeholder 로고 */
.fot_logo {
margin: 20px;
margin-left: 50px;
width: 70px;
height: 70px;
background-image: url(/image/logo.png);
display: block;
background-size: cover;
top: 50px;
}

/* place로고 오른쪽 블로그 글씨들 */
.foot-ul-blog li {
float: left;
margin: 5px;
margin-top: 30px;
}

.foot-ul-blog li a {
text-decoration: none;
color: #666666;
font-weight: 700;
font-size: 14px;
}
.foot-ul-blog li a:hover{
color: #333333;
}

/* 푸터 로고들 */
.foot-logos>li {
float: left;
margin: 3px;
}
.foot-logos>li a:hover{
opacity: 0.9;
}

.nblog {
width: 30px;
height: 30px;
background-image: url(/image/nblog.png);
background-size: cover;
display: block;
}

.twitter {
width: 30px;
height: 30px;
background-image: url(/image/twitter.png);
background-size: cover;
display: block;
}

.instargram {
width: 30px;
height: 30px;
background-image: url(/image/instargram.png);
background-size: cover;
display: block;
}

.facebook {
width: 30px;
height: 30px;
background-image: url(/image/facebook.png);
background-size: cover;
display: block;
}

/* 푸터 상호명등 */
.foot-sangho li {
font-size: 13px;
color: #696969;
}

.foot-sangho-a {
text-decoration: none;
font-weight: 700;
color: #545454;
}

/* 푸터 Copyright */
.foot_caution {
font-size: 9px;
}